<div id='container'>
 <div class="navigation">
  <ul>
    <li><a href='#/links' class>Links</a></li>
    <li><a href='#/shorten' class>Shorten Links</a></li>    
    <li ng-click='signout()'>Logout</li> 
  </ul>
  </div>

  <div>
    <form 
      name="shortenForm" ng-submit='addLink()' novalidate>
      <input type='url' ng-model='link.url' ng-class="{ 'error' : shortenForm.$invalid && shortenForm.$dirty }">
      <button type='submit' ng-disabled="shortenForm.$invalid">Add</button>
      <div ng-show="shortenForm.$invalid && shortenForm.$dirty">Not a valid url</div>
      <!-- <div ng-if="shortenForm.$dirty">Enter a url</div> -->

    </form>
    <!-- <img class='spinner' src='/spiffygif_46x46.gif'> -->
    <div class='message'></div>
  </div>
</div>


