<div id='container'>
  <div class="navigation">
  <ul>
    <li><a href='#/links'>Links</a></li>
    <li><a href='#/shorten'>Shorten Links</a></li>    
    <li ng-click='signout()'>Logout</li>  
  </ul>
  </div>

 <div>
  <input type='text' placeholder="Filter search" ng-model="query[queryBy]">
</div>
  <div class="link" ng-repeat="link in data.links | filter:query | orderBy:'-visits'">
    <span>
      <img ng-src='/assets/redirect_icon.png'/>
      <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
       <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
    </span>
  </div>
</div>
